html, body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif
}

hr {
    width: 80%;
    margin: 20px auto;
    height: 5px;
    background-color: #f76501;
    border: none;
}

header {
    text-align:center;
}
header .logo {
    margin: 50px auto 20px;
}

.logo {
    background-image: url(images/logo.png);
    width: 320px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
}

.github :before {
    content: '';
}

.github {
    text-decoration: none;
    text-align: center;
    color: #333232;
}

.github :visited {
    color: #333232;
}

h3 {
    text-transform: uppercase;
}

section {
    margin: 15px;
}

.center {
    text-align:center;
}

.fa-check {
    color: green;
}

.fa-exclamation-triangle {
    color: red;
}

.fa-clock {
    color: darkgoldenrod;
}